<div class="p-field">
    <label for="username2">Email</label>
    <input id="username2" type="username" aria-describedby="username2-help" class="p-invalid" pInputText />
    <small id="username2-help" class="p-invalid">Username is not available.</small>
</div>

<div class="p-field">
    <label for="username2">Password</label>
    <input id="username2" type="username" aria-describedby="username2-help" class="p-invalid" pInputText />
    <small id="username2-help" class="p-invalid">Username is not available.</small>
</div>