<div class="center">
    <p-card [header]="name" [subheader]="email" [style]="{width: '360px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
            <img alt="Card" [src]="avatar">
        </ng-template>
        <p>Created At: {{createdAt}}</p>       
    </p-card>
</div>
<br>
<!-- <div>
    <ejs-grid [dataSource]='accounts' [allowPaging]="true" [pageSettings]='pageSettings'> </ejs-grid>
</div> -->

<div class="control-section">
    <ejs-grid [dataSource]='products' #batchgrid id='Batchgrid' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'  (toolbarClick)='clickHandler($event)'>
        </ejs-grid>

</div>